@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* nav bar */

body {
  margin: 0;
  font-family: "Lobster", sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: gold;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(0, 0, 0);
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: #000;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* grid 1 */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: ;
  background-color: #ffffff;
  padding: ;
}

.grid-container > div {
  background-color: #171717;
  border: 1px solid black;
  text-align: center;
 
}

.box1{
  height: 500px;
  width: 700px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;


 
}


.box2{
  height: 500px;
  width: 600px;
  font-family: "Lobster", sans-serif;
  color: rgb(240, 255, 24);
  font-size: 30px;
  
  grid-column-start: 4;
  grid-column-end: 5;
 
 
  padding: ;
}

.box1 img{
  height: 500px;
  width: 700px;
  padding: 0px;
}










/* grid 2*/
.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: ;
  background-color: #171717;
  padding: ;
}

.grid-container2 > div {
  background-color: #171717;
  border: 1px solid black;
  text-align: center;
 
}

.box2{
  height: 500px;
  width: 700px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;


 
}

.box2 img{
  height: 500px;
  width: 700px;
  padding: 0px;
}



.box1{
  height: 500px;
  width: 600px;
  font-family: "Lobster", sans-serif;
  color: rgb(240, 255, 24);
  font-size: 30px;
  
  grid-column-start: 4;
  grid-column-end: 5;
 
 
  padding: ;
}







/* grid 3 */
.grid-container3 {
  display: grid;
  
  
 
  grid-template-columns: auto auto auto auto;
  grid-gap: ;
  background-color: #ffffff;
  padding: ;
}

.grid-container3> div {
  background-color: #171717;
  border: 1px solid black;
  text-align: center;
 
}

.box1{
  height: 500px;
  width: 700px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;


 
}


.box2{
  height: 500px;
  width: 600px;
  font-family: "Lobster", sans-serif;
  color: rgb(240, 255, 24);
  font-size: 30px;
  
  grid-column-start: 4;
  grid-column-end: 5;
 
 
  padding: ;
}

.box1 img{
  height: 500px;
  width: 700px;
  padding: 0px;
}




/* grid4 */
.grid-container4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: ;
  background-color: #171717;
  padding: ;
}

.grid-container4 > div {
  background-color: #171717;
  border: 1px solid black;
  text-align: center;
 
}

.box2{
  height: 500px;
  width: 700px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;


 
}

.box2 img{
  height: 500px;
  width: 700px;
  padding: 0px;
}



.box1{
  height: 500px;
  width: 600px;
  font-family: "Lobster", sans-serif;
  color: rgb(240, 255, 24);
  font-size: 30px;
  
  grid-column-start: 4;
  grid-column-end: 5;
 
 
  padding: ;
}





/* grid5 */

.grid-container5{
  display: grid;
  
  
 
  grid-template-columns: auto auto auto auto;
  grid-gap: ;
  background-color: #ffffff;
  padding: ;
}

.grid-container5 > div {
  background-color: #171717;
  border: 1px solid black;
  text-align: center;
 
}

.box1{
  height: 500px;
  width: 700px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 5;


 
}

/* grid6 */
.grid-container6 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: ;
  background-color: #171717;
  padding: ;
}

.grid-container6> div {
  background-color: #171717;
  border: 1px solid black;
  text-align: center;
 
}
.box2{
  height: 500px;
  width: 600px;
  font-family: "Lobster", sans-serif;
  color: rgb(240, 255, 24);
  font-size: 30px;
  
  grid-column-start: 4;
  grid-column-end: 5;
 
 
  padding: ;
}

.box1 img{
  height: 500px;
  width: 700px;
  padding: 0px;
}


/* container */
.container{
  height: 500px;
  width: 1200px;
  border: 30px inset rgb(91, 206, 38);
  background-color: #171717;
  font-family: 'Lobster, sans-serif;';
  color: gold;
  font-size: 30px;
  display: flex;
  justify-content: center;

  


}
.button {
  border: none;
  color: white;
  padding: 20px 30px ;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  position: relative;
  top: 304px;
  left: -541px;
  
  transition-duration: 0.4s;
  cursor: pointer;
  height: 90px;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #e9ff27;
  
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}


#photu{
  display: flex;
  align-items: center;
  justify-content: center;

}


.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #ecfc0f;
  position: relative;
  left: -219px;
  top: 298px;
  
}

.button2:hover {
  background-color: #0f7efc;
  color: white;
}


#photu2{
  display: flex;
  align-items: center;
  justify-content: center;

}

.container p{
  font-family: 'Lobster', sans-serif;
  position: relative;
  left: 80px;
}